* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 31px 0;
}

.menu {
  display: flex;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.menu li a {
  color: #ff0000;
  text-decoration: none;
  margin-right: 72px;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
  color: #373737;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 48px 253px 38px;
}

p {
  color: #373737;
}

.first-paragraph,
.second-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
}

.first-paragraph {
  padding: 0 67px 28px 67px;
}
.second-paragraph {
  padding: 0 67px 66px 67px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  padding: 18px 43px 17px 42px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: white;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #ff0000;
  border-style: none;
  cursor: pointer;
}
button:hover { 
  background: #ca0a0a;
}
footer {
  margin: 80px 67px 30px 0;
  text-align: right;
}

.text-right {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  padding-left: 608px;
}
